body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

.card-img {
    width: 50px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

.container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
}

/* Bet Modal (background) */
#bet-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  
  /* Bet Modal Content/Box */
.bet-modal-content {
    /* background-color: rgba(0,0,0,0.9); */
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 30px;
  }

  /* The Close Button */
.bet-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .bet-close:hover,
  .bet-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }